#include <windows.h>
#include "resource.h"

// Menu Identifications
IDR_MENU1 MENU
BEGIN
    POPUP "&Options"
    BEGIN
        MENUITEM "&Settings", ID_MENU_SETTINGS
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About", ID_MENU_ABOUT
    END
END

ID_VERSUS_ICON ICON "versus.ico"
