#include <windows.h>
#include "resource.h"

// Menu Definitions
IDR_MENU1 MENU
BEGIN
    POPUP "&Options"
    BEGIN
        MENUITEM "&New Game", ID_MENU_NEW_GAME
        MENUITEM "&Settings", ID_MENU_SETTINGS
        MENUITEM SEPARATOR  // This adds a separator
        MENUITEM "&Exit", ID_MENU_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About", ID_MENU_ABOUT
    END
END

// Icon Definitions
ID_VERSUS_ICON ICON "versus.ico"
